body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a; /* Dark gray for contrast */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

h1, h2, h3 {
    color: #ffffff; /* Green text for headers */
}

p {
    line-height: 1.6;
}

ul, ol {
    margin-left: 20px;
}

a {
    color: #ffffff; /* Green links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: hsla(0, 0%, 7%, 0.781);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: hsl(177, 82%, 30%);
}

.featured-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
